

/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px)  { 
   body{
       margin:0;
       padding:0;
   } 
  .bodyContainer {
      display:flex;
      flex-direction:column;
    justify-content:center;
    font-weight: normal;
    align-items:center;
   

} 
/* Top  */
.nav{
    height: auto;
    width:100%;
    font-size: 10px;
    
}
/* Dropdown */
.languegeBar{
    height: auto;
    padding-right: 5%;
}
.dropbtn{
    font-size:10px;
    height: auto;
    background-size: auto;
}
/* Logo */
.top{
    font-size: 10px;
    gap:1%;
    display:flex;
    flex-direction: column;
    
}
.topMenu{
    gap:4%
}
.logo{
    height: 50px;
}
.search{
    height: auto;
   
}
.searchBox{
    height: auto;
}
/* Parallax  */
.parallaxText{
    justify-content:center;
    font-size: x-large;
}

/* Containers company, products and contact us*/

.infoContainer{
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.companyContainer{
    text-align:center;
}
.company{
    width:90%;
    height: 170px;
}

/*Counters*/

.counter-container{
    display:flex;
    flex-direction: column;
}

/* Latest News */
#dataNews{ 
    display:flex;
    flex-direction: column;
    background-color: snow;
}
.latestNewsContainer{
    width: 100%;
}
#newsTitle{
    font-size:25px;
    padding:5%;
    background-color: snow;
}
.newsBox{
    height: auto;
    width:auto;
}
.newsDate{
    font-size: 12px;
}
.newsText{
    font-size:18px;
 }

/* References */
.reference{
    font-size:25px;
    padding:5%
}
#referData{
    display:flex;
    flex-direction: column;
}
.refBox{
    display:flex;
    flex-direction: column;
    width: 100%;
}
#refImg{
    display:flex;
    justify-content:center;
    
  }
  .refBoxText{
      display:flex;
      flex-direction: column;
      padding:0.5%;

  }
#refName{
    display:flex;
    justify-content:center;
    font-size: 18px;
    border-top:none;
}
#refDescription{
    display:flex;
    justify-content:center;
    font-size: 14px;
  }

  /* Suscribe  */
  .titleSubscribe{
    display:flex;
    justify-content:center;
    font-size: 23px;
  }
  .textSubscribe{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    font-size:13px;
    padding-bottom: 2%;
  }
  #input{
      width:100px;
      height:25px;
      font-size: 12px;
  }
  .btnSuscribe{
      height:33px;
      font-size: 15px;
      width: 100px;
  }
  /* Bottom  */
  .bottomContainer{
    width:100%; 
    padding:3%; 
  }
  #lianaTitle{
    font-size: 23px;
  }
  .bottomNav{
    display:flex;
    flex-direction: column;
  }
  .bottomMenu{
    display:flex;
    flex-direction:column;
    align-self: center;
    font-size:15px;
 }
 
  .containerInfo{
    display:flex;
    flex-direction: row;
    font-size:15px;
  }
  .socialmedia{
    display: flex;
    justify-content:center;
    padding-top:5%;
    
  }
  .fab1{
    border-radius: 50px;
       
        height: 30 px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
     .bodyContainer {
    font-weight: normal;
    align-items:center;
   

} 
/* Top  */
.nav{
    height: auto;
    width:100%;
    font-size: 13px;
    
}
/* Dropdown */
.languegeBar{
    height: auto;
    padding-right: 5%;
}
.dropbtn{
    font-size:13px;
    height: auto;
    background-size: auto;
}
/* Logo */
.top{
    font-size: 10px;
    gap:2%;
    
    
}
.topMenu{
    gap:4%
}
.logo{
    height: 50px;
}
.search{
    height: auto;
    width: 35%;
   
}
.searchBox{
    height: auto;
}
/* Parallax  */
.parallaxText{
    justify-content:center;
    font-size: x-large;
}
/* Latest News */

#newsTitle{
    font-size:17px;
    padding:4%
}
.newsBox{
    height: 100px;
    padding:2%;
}
.newsDate{
    font-size: 11px;
}
.newsText{
    font-size:13px;
 }

/* References */
.reference{
    font-size:17px;
    padding:3%
}
.refBox{
    width: 100%;
}
#refName{
    display:flex;
    justify-content:center;
    font-size: 18px;
    
}
#refDescription{
    display:flex;
    justify-content:center;
    font-size: 13px;
  }

  /* Suscribe  */
  .titleSubscribe{
    display:flex;
    justify-content:center;
    font-size: 14px;
    padding:1%;
  }
  .textSubscribe{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    font-size:9px;
    padding-bottom: 2%;
  }
  #input{
      width:160px;
      height:15px;
      font-size: 10px;
  }
  .btnSuscribe{
      height:22px;
      font-size: 10px;
  }
  /* Bottom  */
  .bottomContainer{
    width:100%;  
  }
  #lianaTitle{
    font-size: 15px;
  }
  .bottomNav{
    display:flex;
    gap:5%;
  }
  .bottomMenu{
    display:flex;
    font-size:10px;
 }
 
  .containerInfo{
    gap:4%;
    font-size:13px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    /* Top  */
.nav{
    height: auto;
    width:100%;
    font-size: 15px;
    
}
/* Dropdown */
.dropbtn{
    font-size:15px;
}
/* Logo */
.top{
    font-size: 13px;
}
.logo{
    padding-left: 1%;
}
/* Latest News */

#newsTitle{
    font-size:17px;
    padding:2%
}
.newsBox {
    height: 115px;
    padding: 2%;
    width: 200 px;
}
.newsDate{
    font-size: 11px;
}
.newsText{
    padding:2%;
    font-size:13px;
 }
 /* References */
.reference{
    font-size:17px;
    padding:3%
}
/* Suscribe  */
.titleSubscribe{
    font-size: 16px;
    padding:1%;
}
.textSubscribe{
    font-size:10px;
}
#input{
    width:200px;
    height:16px;
    font-size: 11px;
}
.btnSuscribe{
    height:26px;
    font-size: 12px;
}
/* Bottom  */
.bottomNav{
    gap:40%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Top  */
.nav{
    height: auto;
    width:100%;
    font-size: 22 px;
    
}
/* Dropdown */
.languegeBar{
    height: auto;
    padding-right: 5%;
}
.dropbtn{
    font-size:22 px;
    height: auto;
    background-size: auto;
}
/* Logo */
.top{
    font-size: 17px;
    gap:2%;
    
    
}
.topMenu{
    gap:4%
}
.logo{
    height: 60px;
}
.searchBox{
    height: 35px;
    width:250px;
}
.searchButton{
    height:35px;
    width:100px;
    font-size:14px;
}
/* Parallax  */
.parallaxText{
    justify-content:center;
    font-size: 55px; 
}
.btnLearnMore{
    height:45px;
    width:120px;
    font-size:15px;

}
/* Containers company, products and contact us*/
#companyText{
    font-size:35px;
}

/*Counters*/
.counter{
    flex-direction: column; 
    text-align:center; 
    font-size: 35px;
  }
  .fa-briefcase:before {
    content: "\f0b1";
    font-size: 5.5rem;
  }
.fa-meh-blank{ 
    font-size: 5.5rem;
  }
  .fa-globe-americas{
    font-size: 5.5rem;
  }
/* Latest News */

#newsTitle{
    font-size:30px;
    padding:2%
}
.newsBox{
    height: 150px;
    width:350px;
    padding:2%;
}
.newsDate{
    font-size: 15px;
}
.newsText{
    font-size:20px;
 }

/* References */
.reference{
    font-size:30px;
    padding:2%
}
.refBox{
    height:400px;
    width: 100%;
}
#refImg{
    display:flex;
    justify-content:center;
    width:100%;
    height:150px;
  }
#refName{
    display:flex;
    justify-content:center;
    font-size: 28px;
    
}
#refDescription{
    display:flex;
    justify-content:center;
    font-size: 22px;
    padding:3%;
  }

  /* Suscribe  */
  .titleSubscribe{
    display:flex;
    justify-content:center;
    font-size: 30px;
    padding:1%;
  }
  .textSubscribe{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    font-size:15px;
    padding-bottom: 2%;
  }
  #input{
      width:350px;
      height:20px;
      font-size: 15px;
  }
  .btnSuscribe{
      height:35px;
      font-size: 15px;
  }
  /* Bottom  */
  .bottomContainer{
    width:100%;  
    padding:2%
  }
  #lianaTitle{
    font-size: 26px;
  }
  .bottomNav{
    display:flex;
    gap:25%;
  }
  .bottomMenu{
    display:flex;
    font-size:18px;
 }
 
  .containerInfo{
    gap:4%;
    font-size:20px;
  }
  #btnContactUs{
    height:40px;
    width:140px;
    font-size:15px;
  }
  .fab1{
  width: 36px;
  height: 36px;
  }
  
}